body{
background-color: #46344e;
font-family: 'Roboto', sans-serif;
}

.navimg{
width: 10%;
height: 10%;
}


.caruimg{width:30%;
    margin-left: 400px;
}
#imglast{
width: 22%;

}

.carudiv{
background-color: rgba(255, 255, 0, 0.664);
   
}
.caruinfo{

    float: right;
}
.main{

    
}
.mainimg{
    width:50%;
}
.cimg1{
   
}
.card-footer{
    border: none;
}
.con{height: 300px;
text-align: center;}
.middle{
    margin: auto}

hr{color:
     white;
     font-size: x-small;
    font-weight: 900;
    width: 300px;
margin: auto;
}
#logo{font-weight: 900;
    font-size: 50px;
    color:#faed26 ;
}
.list a{
font-size: 20px;
color: cornsilk;
}
.list a:hover{
    cursor: pointer;
    font-size: 25px;
    
    }
    .logoname{
color:hotpink;

    }
    .choice{
        width: 100%;
        height: 200px;
        background-color:#f53163;
    }
    .choice:hover{
        width: 100%;
        height: 200px;
        background-color:#da718b;
    }
    .card{
        box-shadow: 2px 2px 30px rgba(255, 255, 255, 0.514);
    }
    .button{
        border: none;
        border-radius: 5px;
    background-color: rgb(235, 235, 6);
    } 
    #heart{
        color:yellow;
    }
    .text{
        color: turquoise;
    }